<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091336136880-c2d2sp7ngf0i9fhtg0j0u8pvhsmdekcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091336136880-c2d2sp7ngf0i9fhtg0j0u8pvhsmdekcc</string>
	<key>API_KEY</key>
	<string>AIzaSyAJPw9qJvzA5ZyM-90CA469SHRHs2hwSWY</string>
	<key>GCM_SENDER_ID</key>
	<string>1091336136880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.younusorvba</string>
	<key>PROJECT_ID</key>
	<string>orvba---younus</string>
	<key>STORAGE_BUCKET</key>
	<string>orvba---younus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091336136880:ios:1d36070435fdf26927b375</string>
</dict>
</plist>